.box
{ position: relative;
    text-align: center;
    justify-content: center;
}

.course_title
{
    /* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 1500px;
height: 83px;
left: calc(50% - 1500px/2 + 0.5px);
top: 80px;


}